@model List<Brand>
<h1>@localizer["Brands"]</h1>
<a asp-action="AddNewBrand" asp-controller="Brand" class="btn btn-outline-secondary mb-2" style="background-color:#fc9b12; color:white">@localizer["Add Brand"]</a>
<div class="table-responsive">
    <table class="table table-secondary table-hover" style="color:black;font-weight:bold;font-size:120%"
           border="5" bordercolor="black" align="center" id="table">
        <thead>
            <tr style="background-color:black;">
                <th style="color:white" scope="col" >@localizer["Brand"]</th>
                <th style="color:white " scope="col">@localizer["Category"]</th>
                <th></th>
              
            </tr>
        </thead>
    <tbody>
        @foreach (Brand item in Model)

        {
        
                <tr>
                    <td class="table-warning text-black"><span class="h4 mb-0">@item.Name</span></td>
                    <td class="table-warning text-black"><span class="h4 mb-0">@item.Category.Name</span></td>
                    <td class="col-sm-6 col-12 text-sm-end table-warning text-black">
                       @* <a asp-controller="Brand" asp-action="Details" asp-route-id="@item.Id" class="btn mx-1 btn-outline-secondary">
                            <i class="bi bi-camera-reels"></i>
                                @localizer["Brand Details"]
                        </a>*@
                        <a asp-controller="Brand" asp-action="Edit" asp-route-id="@item.Id" class="btn mx-1 btn-outline-primary">
                            <i class="bi bi-pencil"></i>
                            <span class="pe-0">@localizer["EditBtn"]</span>
                        </a>
                         <a href="~/Brand/Delete?id=@item.Id" id="deleteBtn" class="btn btn-danger btn-sm btn-square  text-danger-hover " onclick="return confirm('@localizer["deleteMsg"] : @item.Name');">
                            <i class="bi bi-trash h5 text-white mx-auto"></i>
                        </a>
                    </td>
                </tr>
            
        }
    </tbody>
</table>

    @*    {
        
                <tr>
                    <td><span class="h4 mb-0">@item.Name</span></td>
                    <td><span class="h4 mb-0">@item.Category.Name</span></td>
                    <td class="col-sm-6 col-12 text-sm-end">
                        <a asp-controller="Brand" asp-action="Details" asp-route-id="@item.Id" class="btn mx-1 btn-outline-secondary">
                            <i class="bi bi-camera-reels"></i>
                                @localizer["Brand Details"]
                        </a>
                        <a asp-controller="Brand" asp-action="Edit" asp-route-id="@item.Id" class="btn mx-1 btn-outline-primary">
                            <i class="bi bi-pencil"></i>
                            <span class="pe-0">@localizer["EditBtn"]</span>
                        </a>
                         <a href="~/Brand/Delete?id=@item.Id" id="deleteBtn" class="btn btn-danger btn-sm btn-square  text-danger-hover " onclick="return confirm('@localizer["deleteMsg"] : @item.Name');">
                            <i class="bi bi-trash h5 text-white mx-auto"></i>
                        </a>
                    </td>
                </tr>
            
        }
    </tbody>
</table>*@

</div>